.doggos {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    &__container {
        max-width: $wrapper-width;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 400px;
        width: 400px;
        overflow: hidden;

        background-repeat: no-repeat;
        background-position: center;


        img {
            height: 350px;
            max-width: 100%;
            margin-bottom: 40px;
            transform: translateY(10%);

        }
    }

    &__description {
        margin-bottom: $main-spacing;
        font-size: $font-size;
        font-family: $main-font;
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }
}