@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $main-font;
}

h2 {
    font-family: $main-font;
}

button {
    font-family: $main-font;
}

p {
    font-family: $main-font;
}